<div>
    <app-widget-live [data]="bigChart"></app-widget-live>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="zero"
  fxLayout.lt-md="column" fxLayout.lt-sm="column" fxLayout.xs="column">
    <mat-card fxFlex="25" fxFlex.md="100%">

      <form [formGroup]="this.dashboardService.form">
        <label> Next Users estimate:</label>
        <input #box (keyup.enter)="onEnter(box.value)">
        <button mat-flat-button color="primary"
                (click)="addUsers(box.value)">Add</button>
        <br>
        <button mat-flat-button color="primary"
                *ngFor="let user of cards"
                (click)="removeUsers(user)">
          {{user}}</button>
        <br>
        <button class="waves-effect waves-light btn col s12" (click)="onSubmit()">
          Submit new users list
        </button>

      </form>
        <app-widget-card label="Months new users" [total]="total" [percentage]= "percent" [data]="cards" target = "100k"></app-widget-card>
    </mat-card>


    <mat-card fxFlex="25" fxFlex.md="100%">
        <app-widget-card label="Users retention" total="10k" percentage="40" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25" fxFlex.md="100%">
        <app-widget-card label="Users engagement" total="8k" percentage="30" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25" fxFlex.md="100%">
        <app-widget-card label="Referral" total="6k" percentage="20" [data]="cards"></app-widget-card>
    </mat-card>

</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px"
     fxLayout.lt-md="column" fxLayout.lt-sm="column" fxLayout.xs="column">>
    <div fxFlex="60">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </div>

    </div>
    <div fxFlex="40">
        <app-widget-pie [data]="pieChart"></app-widget-pie>
    </div>

</div>

<br>
<br>
<br>
